extends layout

block content
	.chats
		header.chat-header
			h3 Contacts
		.chat-list
	.messages
		header.convo-header
			h3 Messages
		.convo
		footer.convo-footer
			.compose
				.input-container
					.input(contenteditable="true")
				.send-container
					button.send-button(type="button") Send
