doctype html
html
	head
		title= title
		script(src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js")
		script.
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyCWqifuKdVoQiNdqgwK3Bh_S-h167gyiEo",
				authDomain: "nodechat-225ab.firebaseapp.com",
				databaseURL: "https://nodechat-225ab.firebaseio.com",
				storageBucket: "nodechat-225ab.appspot.com",
				messagingSenderId: "187900419252"
			};
			firebase.initializeApp(config);
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/chat.css')
	body
		.container
			block content
