doctype html
html
	head
		title Nodechat
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/chat.css')

		block headscripts
	body
		.container
			block content
