$black: #000
$super-light-gray: #fafafa
$med-light-gray: #e5e5e5
$gray: #afafaf
$white: #fff
$light-blue: #cfeeee
$active-color: #5588ff

.public-chats
  background-color: $med-light-gray
  display: none
  overflow-x: hidden
  position: fixed
  transition: 0.3s
  height: inherit
  z-index: 1



.chats
  border-right: 1px solid $gray
  display: -webkit-flex 
  display: flex
  flex-direction: column
  transition: margin-left 0.5s
  width: 30%
  height: 100%


  .chat-header
    align-items: center
    background-color: $med-light-gray
    display: flex
    height: 40px
    justify-content: space-between

    h3
      margin: 0
      padding: 5px 10px

.btn-red
  background-color: red
  color: white


.settings
  background-color: $super-light-gray
  border: 1px solid $gray
  display: inline-flex
  flex-direction: column
  position: absolute
  width: inherit
  z-index: 1

  .settings-header
    background-color: white
    align-items: center
    display: -webkit-flex
    display: flex
    justify-content: space-between
    padding: 10px 10px

    h3
      margin: 0 auto
  
  .spacer
    min-height: 30px

  .settings-body
    background-color: white
    display: -webkit-flex
    display: flex
    flex-direction: column
    padding: 5px 10px

    h5
      margin: 5px 0 0
    
    .input-container
      display: -webkit-flex
      display: flex


  .chat-list
    align-self: stretch

    .search
      align-items: center
      border-bottom: 1px solid $gray
      display: -webkit-flex
      display: flex
      height: 50px
      padding: 5px 10px

      .compose
        width: 100%

        .input
          width: 100%


.chat
  align-items: center
  border-bottom: 1px solid $gray
  cursor: pointer
  display: -webkit-flex
  display: flex
  height: 50px
  padding: 5px 10px

  &:hover
    background-color: $med-light-gray

  &.selected
    background-color: $med-light-gray

  .chat-new
    padding: 0 10px

  .chat-icon
    padding: 0 10px

  .chat-title
    flex-grow: 4
    h4
      margin: 0
      padding: 0
  
  .chat-msg-count
    flex-grow: 1

.right
  cursor: pointer
  font-size: 1.3em
  margin-right: 1em
  opacity: 0.4

.messages
  background-color: $super-light-gray
  display: -webkit-flex 
  display: flex
  height: 100%
  flex-direction: column
  width: 70%


.convo-header
  align-items: center
  background-color: $med-light-gray
  display: flex
  flex: 0 0 auto
  height: 40px
  justify-content: space-between
  order: 1
  position: relative
  width: 100%


  h3
    margin: 0
    padding: 5px 10px



.convo
  background-color: $light-blue
  flex: 1 1 0
  order: 2
  overflow-x: hidden
  overflow-y: scroll
  padding: 5px 20px
  position: relative

  .msg-container
    margin: 0 auto
    min-height: 50px
    padding: 5px 0
    width: 100%

    .msg
      background-color: $white
      border-radius: 5px
      border-color: $super-light-gray
      display: -webkit-flex
      display: flex
      flex-direction: column
      max-width: 300px
      padding: 5px 10px

      .msg-author
        align-self: flex-start
        font-size: 0.8em
        font-weight: bold

      .msg-content
        flex-grow: 4
        font-size: 0.9em
        overflow-wrap: break-word
    
      .msg-timestamp
        align-self: flex-end
        color: $gray
        flex-grow: 1
        font-size: 0.6em
      
  
.convo-footer
  align-items: center
  display: -webkit-flex
  display: flex
  flex: 0 0 auto
  order: 3
  height: 60px
  width: 100%
  position: relative
  
.compose
  align-items: center
  background-color: $med-light-gray
  display: flex
  flex-direction: row
  width: 100%
  height: 100%
  padding: 12px 20px
  position: relative

.input-container
  background-color: $white
  background-clip: padding-box
  border-color: $white
  border-radius: 3px
  border-style: solid
  border-width: 1px
  flex: 1 1 auto
  min-height: 20px
  min-width: 0
  padding: 7px 12px
  width: 100%

  .input
    background-color: $white
    border: 0
    -moz-user-select: text
    font-size: 15px
    max-height: 100px
    min-height: 20px
    outline: medium none
    overflow-y: auto
    overflow-wrap: break-word
    width: 100%


  .send-container
    padding-left: 15px



