.public-chats {
  background-color: #e5e5e5;
  display: none;
  overflow-x: hidden;
  position: fixed;
  transition: 0.3s;
  height: inherit;
  z-index: 1; }

.chats {
  border-right: 1px solid #afafaf;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.5s;
  width: 30%;
  height: 100%; }
  .chats .chat-header {
    align-items: center;
    background-color: #e5e5e5;
    display: flex;
    height: 40px;
    justify-content: space-between; }
    .chats .chat-header h3 {
      margin: 0;
      padding: 5px 10px; }
  .chats .user-settings {
    background-color: #fafafa;
    border: 1px solid #afafaf;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    transition: 0.5s;
    width: inherit;
    z-index: 1; }
    .chats .user-settings .user-settings-header {
      align-items: center;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      padding: 10px 10px; }
      .chats .user-settings .user-settings-header h3 {
        margin: 0 auto; }
    .chats .user-settings .spacer {
      min-height: 30px; }
    .chats .user-settings .user-settings-body {
      background-color: white;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      padding: 5px 10px; }
      .chats .user-settings .user-settings-body h5 {
        margin: 5px 0 0; }
      .chats .user-settings .user-settings-body .input-container {
        display: -webkit-flex;
        display: flex; }
        .chats .user-settings .user-settings-body .input-container .input {
          flex: 5 1 auto; }
        .chats .user-settings .user-settings-body .input-container i {
          flex: 1 1 auto; }
          .chats .user-settings .user-settings-body .input-container i:hover {
            cursor: pointer; }
  .chats .chat-list {
    align-self: stretch; }
    .chats .chat-list .search {
      align-items: center;
      border-bottom: 1px solid #afafaf;
      display: -webkit-flex;
      display: flex;
      height: 50px;
      padding: 5px 10px; }
      .chats .chat-list .search .compose {
        width: 100%; }
        .chats .chat-list .search .compose .input {
          width: 100%; }

.chat {
  align-items: center;
  border-bottom: 1px solid #afafaf;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  height: 50px;
  padding: 5px 10px; }
  .chat:hover {
    background-color: #e5e5e5; }
  .chat.selected {
    background-color: #e5e5e5; }
  .chat .chat-new {
    padding: 0 10px; }
  .chat .chat-icon {
    padding: 0 10px; }
  .chat .chat-title {
    flex-grow: 4; }
    .chat .chat-title h4 {
      margin: 0;
      padding: 0; }
  .chat .chat-msg-count {
    flex-grow: 1; }

.right {
  cursor: pointer;
  font-size: 1.3em;
  margin-right: 1em;
  opacity: 0.4; }

.messages {
  background-color: #fafafa;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 70%; }

.convo-header {
  align-items: center;
  background-color: #e5e5e5;
  display: flex;
  flex: 0 0 auto;
  height: 40px;
  justify-content: space-between;
  order: 1;
  position: relative;
  width: 100%; }
  .convo-header h3 {
    margin: 0;
    padding: 5px 10px; }

.convo {
  background-color: #cfeeee;
  flex: 1 1 0;
  order: 2;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px 20px;
  position: relative; }
  .convo .msg-container {
    margin: 0 auto;
    min-height: 50px;
    padding: 5px 0;
    width: 100%; }
    .convo .msg-container .msg {
      background-color: #fff;
      border-radius: 5px;
      border-color: #fafafa;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      max-width: 300px;
      padding: 5px 10px; }
      .convo .msg-container .msg .msg-author {
        align-self: flex-start;
        font-size: 0.8em;
        font-weight: bold; }
      .convo .msg-container .msg .msg-content {
        flex-grow: 4;
        font-size: 0.9em;
        overflow-wrap: break-word; }
      .convo .msg-container .msg .msg-timestamp {
        align-self: flex-end;
        color: #afafaf;
        flex-grow: 1;
        font-size: 0.6em; }

.convo-footer {
  align-items: center;
  display: -webkit-flex;
  display: flex;
  flex: 0 0 auto;
  order: 3;
  height: 60px;
  width: 100%;
  position: relative; }

.compose {
  align-items: center;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  position: relative; }

.input-container {
  background-color: #fff;
  background-clip: padding-box;
  border-color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  flex: 1 1 auto;
  min-height: 20px;
  min-width: 0;
  padding: 7px 12px;
  width: 100%; }
  .input-container .input {
    background-color: #fff;
    border: 0;
    -moz-user-select: text;
    font-size: 15px;
    max-height: 100px;
    min-height: 20px;
    outline: medium none;
    overflow-y: auto;
    overflow-wrap: break-word;
    width: 100%; }
  .input-container .send-container {
    padding-left: 15px; }

/*# sourceMappingURL=chat.css.map */
